media:
  server-path: /home/aintantony/ISTAD/full-stack-gen-1/spring-boot/media/
  base-uri: http://localhost:8080/media/

spring:
  application:
    name: mobile-banking-api

  threads:
    virtual:
      enabled: true

  servlet:
    multipart:
      max-request-size: 20MB
      max-file-size: 10MB

  datasource:
    url: BD_URL
    username: DB_USERNAME
    password: DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9999/realms/fswd-mbapi