spring:
  application:
    name: mobile-banking-api

  threads:
    virtual:
      enabled: true

  datasource:
    url:
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        format_sql: true

#  security:
#    user:
#      name: aintantony
#      password: qwerqwer
