spring:
  application:
    name: mobile-banking-api

  threads:
    virtual:
      enabled: true

  datasource:
    url: BD_URL
    username: DB_USERNAME
    password: DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9999/realms/fswd-mb-api