spring:
  application:
    name: mobile-banking-api

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql:DB_URL
    username: DB_USERNAME
    password: DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

    properties:
      hibernate:
        format_sql: true